
@{
    ViewBag.Title = "Frühling";
    ViewBag.BackgroundCopyright = "himberry_photocase.de";
    ViewBag.BodyClass = "fruehling";
}

<div class="row">
    <div class="col-lg-12 col-xs-12">
        <h1>Wenn Sie der Frühling streift...<span class="hidden-sm hidden-xs"><br />&nbsp;</span></h1>
    </div>

    <div class="col-lg-12 col-xs-12 text-center">
        <img src="Content/Images/Fruehling/Stripes h'blau_rosa 3_4Arm.png" class="shirt" />
        <img src="Content/Images/Fruehling/Stripes-weiss_blau-3_4-Arm.png" class="shirt" />
        <img src="Content/Images/Fruehling/Stripes-schwarz_beige-3_4Arm.png" class="shirt" />
    </div>
</div>

