
@{
    ViewBag.Title = "Herbst";
    ViewBag.BackgroundCopyright = "DavidQ_photocase.de";
    ViewBag.BodyClass = "herbst";
}

<div class="row">

    <div class="col-lg-12 col-xs-12">

        <h1>Das Mittel gegen Blusen Blues<span class="hidden-sm hidden-xs"><br />&nbsp;</span></h1>

    </div>

    <div class="col-lg-12 col-xs-12 text-center">

        <img src="Content/Images/Herbst/Favorite-violett-3_4Arm_2_b.png" class="shirt" />

        <img src="Content/Images/Herbst/Favorite-olive-3_4Arm_2_b.png" class="shirt" />

        <img src="Content/Images/Herbst/Favorite-rot-3_4Arm_2_b.png" class="shirt" />

    </div>

</div>

