
@{
    ViewBag.Title = "Kontakt";
    ViewBag.BodyClass = "kontakt";
}

<div class="row">

    <div class="col-lg-12 col-xs-12">
        <br />
        <p>
            Je nach Look und Laune mag es die moderne Frau mal lässig-locker, mal stylish-elegant.
            Doch ob Jeans oder Blazer: Diese exklusiven T-Shirts  passen immer.
            Beste Qualität dank erstklassigen Materialien und körperbetontem Schnitt.
            Zudem werden die Shirts ausschliesslich und sorgfältig in der Schweiz gefertigt – und das in limitierter Auflage.
            Bestellen Sie online oder kommen Sie einfach vorbei, probieren und lassen sich fachkundig beraten:
        </p>

        <p>
            Kathrin Kleboth Mode & Accessoires<br />
            Rötelstrasse 11<br />
            8006 Zürich<br />
            T  +41 (0)44 262 70 80<br />
            <a href="http://www.shirtcollection.ch" target="_blank">shirtcollection.ch</a><br />
            <a href="http://www.kathrinkleboth.ch" target="_blank">kathrinkleboth.ch</a><br />
            <a href="mailto:info@kathrinkleboth.ch">info@kathrinkleboth.ch</a><br />
        </p>

        <p>
            <br /><br /><br />
            Konzept - und Screendesign: <a href="http://www.dillstil.ch" target="_blank">dillstil.ch</a>
        </p>

    </div>

</div>

