
@{
    ViewBag.Title = "Sommer";
    ViewBag.BackgroundCopyright = "SirName_photocase.de";
    ViewBag.BodyClass = "sommer";
}

<div class="row">

    <div class="col-lg-12 col-xs-12">

        <h1>T-Shirts, die gerne reisen - und noch nie in China waren</h1>

    </div>

    <div class="col-lg-12 col-xs-12 text-center">

        <img src="Content/Images/Sommer/Shirt-tuerkis.png" class="shirt" />

        <img src="Content/Images/Sommer/Shirt-lindengruen.png" class="shirt" />

        <img src="Content/Images/Sommer/Shirt-fuchsia.png" class="shirt" />

    </div>

</div>

