
@{
    ViewBag.Title = "Winter";
    ViewBag.BackgroundCopyright = "sibp_photocase.de";
    ViewBag.BodyClass = "winter";
}

<div class="row">
    <div class="col-lg-12 col-xs-12">
        <h1>Heute bleibt die Robe in der Garderobe</h1>
    </div>

    <div class="col-lg-12 col-xs-12 text-center">
        <img src="Content/Images/Winter/Cascade-bordeaux-3_4-Arm.png" class="shirt" />
        <img src="Content/Images/Winter/Cascade-schwarz-3_4-Arm.png" class="shirt" />
        <img src="Content/Images/Winter/Cascade-d'gruen-3_4-Arm.png" class="shirt" />
    </div>
</div>

