@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=0c70949f-bbaa-4a1b-95b0-29bfbfad6691&fontids=5390730");

@font-face {
    font-family: "AvantGardeGothicITC W01 Book";
    src: url("Fonts/5390730/a98bdca9-ab20-41a6-98f3-ed6bb54ed69e.eot?#iefix");
    src: url("Fonts/5390730/a98bdca9-ab20-41a6-98f3-ed6bb54ed69e.eot?#iefix") format("eot"),url("Fonts/5390730/5b13893e-ac07-4b49-b0e4-355de4e4df8d.woff2") format("woff2"),url("Fonts/5390730/a9e70966-2348-4c54-ace1-7f809fcee055.woff") format("woff"),url("Fonts/5390730/9cb9e06e-0507-4768-ad8f-cba7f3ec98b6.ttf") format("truetype");
}



body {
    font-family: "AvantGardeGothicITC W01 Book";
    font-size: 18pt;
    /*background-image: url(Images/himberry_photocase.de.jpg);*/
    background-size: cover;
    background-position: right 152px;
    background-repeat: no-repeat;
}

    body.fruehling {
        background-image: url("Images/himberry_photocase.de.jpg");
    }

    body.sommer {
        background-image: url("Images/SirName_photocase.de.jpg");
    }

    body.herbst {
        background-image: url("Images/DavidQ_photocase.de.jpg");
    }

    body.winter {
        background-image: url("Images/sibp_photocase.de.jpg");
    }

    body.kontakt {
        background-image: url("Images/Foto_Kontakt.jpg");
    }

        body.kontakt .shop-wrapper {
            display: none;
        }

        body.kontakt .copy-text {
            display: none;
        }

h1 {
    font-size: 48pt;
    margin: 35px 0 10px;
}



h2 {
    font-size: 21pt;
}



a {
    color: #6e6d6d;
}



    a:hover {
        color: black;
        text-decoration: underline;
    }



    a:focus {
        color: #6e6d6d;
        text-decoration: underline;
    }



header {
    background-color: white;
}



    header h2 {
        margin-top: 30px;
        margin-bottom: 0;
    }



    header ul {
        padding: 0;
    }



        header ul > li {
            display: inline;
            text-decoration: none;
            list-style-type: none;
            margin-right: 5px;
        }



a.active, .active > a {
    color: black;
    text-decoration: underline;
}



.logo-wrapper {
    position: relative;
}



    .logo-wrapper > img.logo {
        position: absolute;
        width: 350px;
        right: 0;
        top: 50px;
    }



.shop-wrapper {
    position: relative;
}



    .shop-wrapper .shop-btn {
        position: absolute;
        display: inline-block;
        background-color: #00C1FF;
        border-radius: 75px;
        width: 150px;
        height: 150px;
        top: 65vh;
        right: 0;
        line-height: 140px;
        text-align: center;
        cursor: pointer;
        color: white;
        z-index: 2000;
    }

        .shop-wrapper .shop-btn > span {
            font-size: 25pt;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }



.frame {
    position: fixed;
    width: 100%;
    /*height:calc(100% - 230px);*/
    /*top:230px;*/
    height: 100%;
    background-color: white;
    opacity: 0.6;
}



    .frame > span.copy-text {
        position: absolute;
        top: 400px;
        right: 5px;
        font-size: 15px;
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }



.shirt {
    max-width: 350px;
    width: 100%;
    /*margin-bottom:25px;*/
    padding: 25px;
}



/* Make background size static on mobile */

@media(max-width:1200px) {

    body {
        background-size: auto;
    }
}



/* tablet (md)*/

@media(max-width:992px) {

    .logo-wrapper > img.logo {
        width: 250px;
        top: 20px;
    }



    .shop-wrapper .shop-btn {
        position: fixed;
        right: 15px;
    }
}



/* mobile phone (xs) */

@media(max-width:764px) {

    h1 {
        font-size: 28pt;
    }

    .frame {
        /*height:calc(100% - 230px);*/
        /*top:230px;*/
        height: 100%;
        top: auto;
        opacity: 0.7;
    }



    .shop-wrapper .shop-btn {
        position: fixed;
        border-radius: 0;
        width: 100%;
        height: 70px;
        top: calc(100vh - 70px);
        line-height: 70px;
        right: 0;
    }

    .copy-text {
        top: 180px !important;
        font-size: 10px !important;
    }
}



.text-center {
    text-align: center;
}



.text-left {
    text-align: left;
}



.text-right {
    text-align: right;
}
